.animate-MemberModal-enter {
  top: 100% !important;
}

.animate-MemberModal-enter-active {
  top: 1rem !important;
  transition: top 500ms;
}
.animate-MemberModal-enter-done {
  top: 1rem !important;
}

.animate-MemberModal-exit {
  top: 1rem !important;
}

.animate-MemberModal-exit-active {
  top: 100% !important;
  transition: top 500ms;
}

.animate-Backdrop-enter {
  opacity: 0 !important;
}
.animate-Backdrop-enter-active {
  opacity: 0.5 !important;
  transition: opacity 500ms;
}
.animate-Backdrop-exit {
  opacity: 0.5 !important;
}
.animate-Backdrop-exit-active {
  opacity: 0 !important;
  transition: opacity 500ms;
}

.animate-MemberCard-enter {
  transform: scale(0);
}
.animate-MemberCard-enter-active {
  transform: scale(1);
  transition: transform 750ms;
}
.animate-MemberCard-exit {
  transform: scale(1);
}
.animate-MemberCard-exit-active {
  transform: scale(0);
  transition: transform 750ms;
}

.animate-Alert-enter {
  opacity: 0 !important;
  transform: scale(0.5) !important;
}
.animate-Alert-enter-active {
  opacity: 1 !important;
  transform: scale(1) !important;
  transition: opacity 500ms, transform 500ms;
}
.animate-Alert-exit {
  opacity: 1 !important;
  transform: scale(1) !important;
}
.animate-Alert-exit-active {
  opacity: 0 !important;
  transform: scale(0.5) !important;
  transition: opacity 500ms, transform 500ms;
}
